<div class="split_left left">
    <div class="logo">
        <img src="../../assets/images/brij.png" class="img-responsive" />
    </div>
    <div class="centered">
        <img src="../../assets/images/login.png" class="img-fluid" />
    </div>
</div>

<div class="split_right right center_right_shadow">
    <div class="welcome_text">


        <img src="../../assets/images/myERP.png" class="responsive-img" />
        <div class="line_login"></div>
    </div>
    <div class="section"></div>
    <div class="centered login_card">
        <div class="card custome-panel">
            <div class="card-header">
                <h5 class="white-text">Brij ERP Login</h5>
            </div>
            <div class="card-body">
                <div *ngIf='errors' style="color: red">
                        {{errors}}
                </div>
               
                <!-- <list-errors [errors]="errors"></list-errors> -->
                <form class="m-t" role="form" [formGroup]="authForm" (ngSubmit)="submitForm()">
                    <fieldset [disabled]="isSubmitting">
                        <div class="form-group">

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                    <i class="fa fa-user" aria-hidden="true"></i>
                  </span>
                                </div>
                                <input formControlName="email" placeholder="Email" class="form-control" type="text" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                    <i class="fa fa-key" aria-hidden="true"></i>
                  </span>
                                </div>
                                <input formControlName="password" placeholder="Password" class="form-control" type="password" />
                            </div>
                        </div>
                        <div class="form-group" *ngIf='showOtp==true'>
                            <div class="input-group">
							<div class="input-group-prepend">
                                <span class="input-group-text">
                    <i class="fa fa-key" aria-hidden="true"></i>
                  </span></div>
                                <input formControlName="otp" placeholder="OTP" class="form-control" type="password" />
                            
							</div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6 text-left">
                                    <button class="btn btn-primary" type="button" *ngIf='showOtp==false' (click)="getOTP()">
                      Get OTP
                    </button>


                                    <button class="btn btn-primary" [disabled]="!authForm.valid" type="submit" *ngIf='showOtp==true'>
                      {{ title }}
                    </button>
                                </div>
                                <div class="col-md-6">
                                    <a class="text-danger text-right width-full display-block" routerLink="/login" routerLinkActive="active">Forgot
  Password?</a>
                                </div>


                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <hr>
                                <span class="width-full" style="font-size:12px;">Note: An OTP will be sent to your registered<br> mobile number and
  Email ID</span>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div class="fixed-footer">

    </div>
    <footer class="footer">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <p class="">© 2018 - Brij & Co. - All Rights Reserved.</p>
            </div>
        </div>

    </footer>
</div>
<div class="clearfix">
</div>