.nav-link {
    cursor: pointer;
}

.card-counter {
    margin: 0px 0px;
    padding: 15px 0px 0 0;
    background-color: #fff;
    transition: .3s linear all;
    text-align: center;
    border: 1px #f9f1f1 solid;
    min-height: 100px;
    position: relative;
}

.card-counter:before {
    border-top: 5px #0073b7 solid;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    content: "";
}

.card-counter:after {
    border-top: 5px #444 solid;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    content: "";
    transition: all 0.5s ease-in-out;
}

.card-counter:hover:after {
    width: 100%
}

.card-counter i {
    font-size: 18px;
    opacity: 0.9;
    margin-right: 5px;
    position: relative;
    top: 3px;
    display: none;
}

.card-counter .count-numbers {
    font-size: 24px;
    display: block;
    font-weight: bold;
    color: #0073b7;
    line-height: 26px;
}

.card-counter .count-name {
    text-transform: capitalize;
    display: block;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 7px;
    padding: 0 5px;
    padding-top: 6px;
    min-height: 38px;
}

.card-counter:hover {
    cursor: pointer;
}

.top-tiles ul {
    list-style: none;
    display: table;
    padding: 0px;
    margin: 0px 0px;
    width: 100%
}

.top-tiles li {
    display: table-cell;
    position: relative;
    vertical-align: top;
    width: calc(100%/7);
    padding: 0 5px;
}

.certified-report .card {
    margin-bottom: 15px;
}

.certified-report .card .card-body {
    padding: 0px 15px 15px;
}

.filter-sec {
    background: #f0f3f5;
    padding: 15px 0px 10px 0;
    margin-bottom: 15px
}


/******************* Change Header to Certified Report *************/

.page-title-breadcrumb .breadcrumb {
    float: right;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    background: transparent;
    padding-top: 17px;
    margin-left: 10px;
	
}

.page-title-breadcrumb .page-header .page-title {
    font-size: 22px;
    font-weight: 500;
    display: inline-block;
    padding-top: 5px;
    margin: 0 0 0 120px;
	color:#0073b7;
	line-height:38px;
}

.sub-nav {
    display: inline-block;
    
    background: #eff2f3;
	margin:0px; 
	margin-left: 20px;
	padding:0px;
	font-size:0px;
}

.sub-nav li {
    display: inline-block;
    border-right: 1px #fff solid;
	font-size:13px;
}

.sub-nav li a {
    display: inline-block;
    color: #000;
    transition: all 0.3s ease-in-out;
	padding:15px 15px;
	position:relative
}

.sub-nav li a:after {
	position:absolute;
	top:1px;
	left:0px;
	width:0px;
	content:"";
    background: #2a3b4c;
    height:2px;
	transition:all 0.3s ease-in-out;
}
.sub-nav li a:hover{background:#fff;}
.sub-nav li a:hover:after {width:100%}
.fil-form{margin-top:7px}
.fil-form .form-control{max-width:100px; margin-right:10px!important }
.fil-form select.form-control:not([size]):not([multiple]){height:auto}

.fil-form .input-group-addon{margin-right:7px}

.ui-datatable-scrollable-header-box table th, .ui-datatable-scrollable-footer-box table th, .ui-datatable-scrollable-body table td{
    width: 20% !important;
 }