<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card-counter primary">
                <i class="fa fa-code-fork"></i>
                <span class="count-numbers">12</span>
                <span class="count-name">Flowz</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card-counter danger">
                <i class="fa fa-ticket"></i>
                <span class="count-numbers">599</span>
                <span class="count-name">Instances</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card-counter success">
                <i class="fa fa-database"></i>
                <span class="count-numbers">6875</span>
                <span class="count-name">Data</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card-counter info">
                <i class="fa fa-users"></i>
                <span class="count-numbers">35</span>
                <span class="count-name">Users</span>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top:20px">
        <div class="col">
            <div class="card">
                <div class="card-header">Panel Heading</div>
                <div class="card-body">
                    <div class="table-responsive">


                        <table id="mytable" class="table table-bordered table-striped">

                            <thead>

                                <th><input type="checkbox" id="checkall" /></th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Address</th>
                                <th>Email</th>
                                <th>Contact</th>
                                <th colspan="2">Action</th>
                            </thead>
                            <tbody>

                                <tr>
                                    <td><input type="checkbox" class="checkthis" /></td>
                                    <td>Mohsin</td>
                                    <td>Irshad</td>
                                    <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
                                    <td>isometric.mohsin@gmail.com</td>
                                    <td>+923335586757</td>
                                    <td>
                                        <p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit"><i class="fa fa-pencil" aria-hidden="true"></i></button></p>
                                    </td>
                                    <td>
                                        <p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"><i class="fa fa-trash" aria-hidden="true"></i></button></p>
                                    </td>
                                </tr>

                                <tr>
                                    <td><input type="checkbox" class="checkthis" /></td>
                                    <td>Mohsin</td>
                                    <td>Irshad</td>
                                    <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
                                    <td>isometric.mohsin@gmail.com</td>
                                    <td>+923335586757</td>
                                    <td>
                                        <p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit"><i class="fa fa-pencil" aria-hidden="true"></i></button></p>
                                    </td>
                                    <td>
                                        <p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"><i class="fa fa-trash" aria-hidden="true"></i></button></p>
                                    </td>
                                </tr>


                                <tr>
                                    <td><input type="checkbox" class="checkthis" /></td>
                                    <td>Mohsin</td>
                                    <td>Irshad</td>
                                    <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
                                    <td>isometric.mohsin@gmail.com</td>
                                    <td>+923335586757</td>
                                    <td>
                                        <p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit"><i class="fa fa-pencil" aria-hidden="true"></i></button></p>
                                    </td>
                                    <td>
                                        <p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"><i class="fa fa-trash" aria-hidden="true"></i></button></p>
                                    </td>
                                </tr>



                                <tr>
                                    <td><input type="checkbox" class="checkthis" /></td>
                                    <td>Mohsin</td>
                                    <td>Irshad</td>
                                    <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
                                    <td>isometric.mohsin@gmail.com</td>
                                    <td>+923335586757</td>
                                    <td>
                                        <p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit"><i class="fa fa-pencil" aria-hidden="true"></i></button></p>
                                    </td>
                                    <td>
                                        <p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"><i class="fa fa-trash" aria-hidden="true"></i></button></p>
                                    </td>
                                </tr>


                                <tr>
                                    <td><input type="checkbox" class="checkthis" /></td>
                                    <td>Mohsin</td>
                                    <td>Irshad</td>
                                    <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
                                    <td>isometric.mohsin@gmail.com</td>
                                    <td>+923335586757</td>
                                    <td>
                                        <p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit"><i class="fa fa-pencil" aria-hidden="true"></i></button></p>
                                    </td>
                                    <td>
                                        <p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"><i class="fa fa-trash" aria-hidden="true"></i></button></p>
                                    </td>
                                </tr>





                            </tbody>

                        </table>


                    </div>
                </div>
                <div class="card-footer">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

        </div>
    </div>
</div>